{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
<div class="row border border-dark rounded-5 p-3 bg-transparent shadow box-area input-container input-backdrop">

<div class="about-section">
    <h1>{{_("About Us")}}</h1>
    <p>{{_("The TuristApplikasjon aims to enhance the travel experience by providing users with detailed guides, tips, and tools for planning their trips effectively. Whether you're looking for the best sights, local eats, or unique experiences, our application strives to bring the best recommendations directly to you.")}}</p></div>
</div>
<div class="row mt-3"></div>
<div class="row border border-dark rounded-5 p-3 bg-transparent shadow box-area input-container input-backdrop">

<div class="team-section">
    <h2>{{_('Our Team')}}</h2>
    <p>{{_('Meet the people behind the TuristApplikasjon')}}:</p>
    <ul>
        <li>CitySprinters</li>
     
    </ul>
</div>
</div>
<div class="row mt-3"></div>
<div class="row border border-dark rounded-5 p-3 bg-transparent shadow box-area input-container input-backdrop">

<div class="mission-section">
    <h2>{{_('Our Mission')}}</h2>
    <p>{{_('Our mission is to make travel planning as easy, accessible, and enjoyable as possible. We believe that by providing comprehensive and user-friendly tools, we can help travelers around the world create unforgettable journeys')}}.</p>
</div>
</div>
</div>
{% endblock %}
