{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-transparent shadow box-area input-backdrop">
        
        <div>
            <h2 class="intro-text">{{_('Forgot Your Password')}}?</h2>
            <p class="intro-text">Just fill in your email and we will send you a reset password link.</p>
          </div>

          <div class="col">

          <form action="{{ url_for('login_reg.forgot_password') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                {{ form.email(class="form-control form-control-lg fs-6") }}
            </div>

            <div class="input group mt-3 col-1" >
                <button class="btn btn-lg bg-white">
                    {{_('Submit')}}
                </button>
            </div>

          </form>
          </div>
          {% for message in get_flashed_messages(category_filter=["error", "success"]) %}
          <div class="alert alert-{{ 'success' if 'password' in message else 'danger' }} alert-dismissible fade show" role="alert">
              {{ message }}
          </div>
          {% endfor %}


    </div>



</div>

{% endblock %}