{% extends "base.html" %}

{% block content %}
<div class="start-page container-fluid">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-light bg-opacity-25 shadow box-area">
        <div class="mb-4 start-text-decoration" >
            <h1 class="display-1">{{_('Welcome to CitySprinter')}}</h1>
            <h2>{{_('We are excited to help you explore and discover new places')}}</h2>
        </div>
    </div>
            
    </div>
</div>
{% endblock %}