{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>{{_('Reset Password')}}</h2>
    <form action="{{ url_for('login_reg.reset_password', token=token) }}" method="post">
        {{ form.hidden_tag() }}
        <input type="submit" value="{{_('Reset Password')}}">
    </form>
    {% for message in get_flashed_messages(category_filter=["error", "success"]) %}
    <div class="alert alert-{{ 'success' if 'Please' in message else 'danger' }} alert-dismissible fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}