@{
    ViewData["Title"] = "Welcome to BloggersUnite";
}

<div class="text-center mt-5">
    <h1>Welcome to BloggersUnite</h1>
    <p>Please register or log in to access all features of the platform.</p>
    
</div>